/*ACCIONES*/

.actions {
    font-family: 'Montserrat';
    padding: 70px 0;
}
.actions-bloc {
    opacity: 0;
    animation:aparecer 3s 0.5s forwards;
}
@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.actions-bloc h1{
    color: #94BB20;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 50px;
}

.actions-bloc_action h2{
    font-size: 20px;
    font-weight: 700;
}
.actions-bloc_action p{
    margin: 20px 0 40px 0;
    font-size: 15px;
}
.actions-bloc_action img{
    width: 100%;
}
@media screen and (max-width: 576px) {
    .actions-bloc_action h2{
        font-size: 15px;
    }
    .actions-bloc h1 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 15px;
    }
    .actions-bloc_action p {
        margin: 12px 0 35px 0;
    }
    .actions {
        padding: 50px 0;
    }
}