

/*NEWS*/
.actualidad-header {
    color: #212529;
    background-image: url('img/FONDOS/verde2-01.png');
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
/*    background-position:bottom;*/
}
.actualidad-header h1{
    font-size: 32px;
    font-weight: 800;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.gradient {
    background:linear-gradient(180deg, rgba(74, 73, 74, 0) 0%, #000000 100%);
    height:inherit;
}

.news-container {
    margin-top: 60px !important;
}
.news-newHeaderInfo {
    top:45%;
    position: absolute;
    width: 70%;
}
.news-newsHeaderInfo-date {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.news-newsHeaderInfo-date img{
    width: 20px;
}
.news-newHeaderInfo p{
    font-size: 18px;
    font-weight: 800;
    color: white;
    text-shadow: 0em 0em 0.3em #000000;
}
.news-newHeaderInfo h1{
    font-size: 24px;
    font-weight: 800;
    color: white;
    text-shadow: 0em 0em 0.3em #000000;
}
.tag-k img{
    width: 40px;
}
.tag-k {
    position: relative;
}
.tag-k-img {
    position: absolute;
    top: -20px;
    right: 15px;
}


.new-item {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 25%;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    text-decoration: none;
    color: #212529;
}
.new-item:hover {
    color: #212529;
}
.new-item:hover .new-card-img img {
    transform:scale(1.05);
}
.new-card {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 0 !important;
    box-shadow: 2px 4px 4px 0px #00000036;
    /*box-shadow: 0 6px 26px -7px rgb(0 0 0 / 10%);*/
}
.new-card-img-container {
    position: relative;
    height: 135px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.new-card-img-container-big {
    position: relative;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.new-card-img {
    height: 100%;
    position: absolute;
    top: 0;
}
.new-card-img img {
    width: 100%;
    transition: transform 1s ease-in-out;
}
.new-card-text {
    padding: 10px 20px;
    overflow: hidden;
    height: 285px;
}
.new-card-text-big {
    padding: 10px 60px;
    overflow: hidden;
    height: 220px;
}
.new-card span, .new-card p{
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}
.new-card h2{
    font-size: 15px;
    line-height: 18px;
    font-weight: 800;
}
.new-card-bottom {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(0,0,0,.08);
    padding: 10px;
    font-size: 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: color 0.5s;
    transition: background-color 0.5s;
}
.new-card-bottom p{
    margin-bottom: 0;
}
.new-card-bottom:hover {
    background-color: #94BB20;
}.new-card-bottom:hover p{
    color: white;
    font-weight: 700;
}



/*PAGINATION*/
.pagination { 
    display: flex;
    justify-content: flex-end;
}
.page-link {
    font-family: 'Montserrat' !important;
    color: #212529 !important;
    outline: none !important;
}
.page-link:hover {
    background-color:#94BB20 !important;
    color:white !important;
    font-size: 700 !important;
}

.multimedia-newsletter{
    padding-top: 60px;
    padding-bottom: 0;
}
@media  screen and (max-width: 992px) {
    .new-card-text-big {
        padding: 10px 20px;
        height: 220px;
    }
}
@media screen and (max-width: 400px) {
    .new-item{
        padding-left: 20px;
        padding-right: 20px;
    }

}
@media screen and (max-width: 767px) {
    .actualidad-header {
        height: 190px;
    }

}
@media screen and (max-width: 575px) {
    .actualidad-header {
        height: 130px;
    }
    .actualidad-header h1 {
        font-size: 30px;
    }

}
@media screen and (max-width: 530px) {
    .new-item {
        width: 100%;
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
}