.agenda-header{
    color: white;
    background-image: url('img/FONDOS/agenda2-fondo.png');
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position:bottom;
}
.agenda{
    padding: 70px 0;
}
.agenda-item {
    margin-bottom: 25px;
}
.agenda-header h1{
    font-size: 40px;
    font-weight: 800;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.agenda-row {
    display: flex;
    justify-content: center;
    margin-top: 60px !important;
}
.diary-card-left{
    width: 25% !important;
}
.diary-card-right{
    width: 70% !important;
}
.diary-card-img {
    overflow: hidden !important;
}

@media screen and (max-width: 768px) {
    .diary-card-left{
        width: 40% !important;
    }
    .diary-card-right{
        width: 55% !important;
    }
}
@media screen and (max-width: 576px){
    .agenda {
        padding: 50px 0;
    }
    .agenda-row {
        margin-top: 30px !important;
    }

}
