.new {
    padding: 70px 0;
    display: flex;
    justify-content: center;
}
.new h1{
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}
.new-body img {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}
.new span {
    font-size: 15px;
}
.new i{
    margin-right: 5px;
}