/*ENTIDADES*/
a {
    text-decoration: none;
}
.entidades {
    padding: 70px 0;
}
.entidades-container {
    margin-top: 50px;
}
.entidades-container h1 {
    font-size: 22px;
    font-weight: 700;
}
.entidades-container p{
    font-size: 15px;
    margin-bottom: 20px;
}
.entidades-lider-container {
    margin-bottom: 50px;
}
.entidades-item-lideran {
    box-shadow: 2px 0 20px 0 rgb(0 0 0 / 5%);
    width: 30% !important;
    display: flex;
    align-items: center;
}
.entidades-socias-container {
    display: flex !important;
}
.entidades-item-lideran img, .entidades-item img {
    width: 100%;
    filter: grayscale(100%);
}
.entidades-item-lideran img:hover, .entidades-item img:hover {
    filter: grayscale(0%);
}
.entidades-item {
    box-shadow: 2px 0 20px 0 rgb(0 0 0 / 5%);
    width: 15.6%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
}

/*MODAL*/
.modal-header {
    flex-direction: column !important;
    border-bottom: none !important;
}
.modal-img {
    display: flex;
    justify-content: center;
}
.modal-img img{
    width: 65%;
}
.modal-body {
    font-size: 14px;
}
.modal-footer {
    justify-content: center !important;
}
.modal-download {
    background-color: #212529;
    padding: 5px 30px;
    border-radius: 40px;
    color: white;
    font-size: 14px;
    text-decoration: none;
}
.modal-download i {
    font-size: 18px;
    margin-right: 10px;
}
.modal-download:hover {
    background-color: #94BB20;
    color: white;
}

@media screen and (max-width: 992px) {
    .entidades-item {
        width: 14.6%;
    }

}