a {
    text-decoration: none !important;
}
.hitos-header {
    color: #212529;
    background-image: url('img/FONDOS/text-cab-opac-01.png');
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: relative;
    background-position:bottom;
}
.hitos-container {
    padding: 70px 0 0 0;
}

.hitos-header h1{
    font-size: 40px;
    font-weight: 800;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


ul#time-line{
          padding: 50px 0;
          margin: 0;
          list-style-type: none;
          position: relative;
          overflow: hidden;
}
ul#time-line:after{
          position: absolute;
          content: '';
          height: 100%;
          width: 5px;
          border-radius: 20px;
          background: #94bb20;
          left: 0;
          right: 0;
          top: 0;
          pointer-events: none;
          margin: auto;
      }
      ul#time-line li{
          width: 50%;
          margin-left: auto;
          text-align: left;
          transition: all cubic-bezier(0.68,0.55,0.265,1.55) .5s;
          transform: rotateX(90deg);
      }
      ul#time-line li:nth-child(2n){
          margin-left: 0;
          margin-right: auto;
          text-align: right;
      }
      .li-item {
        width: 80%;
        display: inline-block;
        background: white;
        /*padding: 30px;*/
        margin: 20px;
        border-radius: 20px;	
        position: relative;
        color: #2e2e2e;
        box-shadow: 0px 0px 8px 0px #00000060;
        cursor: pointer;
      }
      .li-item:before{
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background: #94bb20;
        border-radius: 50%;
        left: -30px;
        top: 45%;
      }

      /*ul#time-line li div:after{
          content: '';
          position: absolute;
          left: auto;
          right: 100%;
          top: 45%;
          border: solid 10px;
          border-color: transparent #303030 transparent transparent;
      }*/
      ul#time-line li p {
          font-size: 12px;
      }
      ul#time-line li span {
        font-size: 12px;
    }
    ul#time-line li h1 {
        font-size: 15px;
        font-weight: 800;
    }
      ul#time-line li:nth-child(2n) div:before{
          right: -30px;
          left: auto;
      }
ul#time-line li:nth-child(2n) div:after{
    left: 100%;
    right: auto;
    border-color: transparent transparent transparent #303030;
}
ul#time-line li.visibility {
    transform: rotateX(0deg) perspective(360px);
}
.second {
    padding: 10px 20px;
}
.img-container {
    position: relative;
    height: 135px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.img{
    height: 100%;
    position: absolute;
    top: 0;
}
.img img{
    width: 100%;
}

@media screen and (max-width: 576px){
    ul#time-line:after{
        right: auto;
    }
    ul#time-line li {
        width: 100%;
    }
    ul#time-line li:nth-child(2n){
        text-align: left;
    }
    ul#time-line li:nth-child(2n) div:before, .li-item:before{
        left: -25px;
    }
    .body {
        margin-top: 20px;
    }
}
