*{
    font-family: 'Montserrat';
}
.idioma ul li{
    border-right: 1px #212529 solid;
    font-size: 14px;
    font-weight: 500;
    padding:0 10px;
    text-align: center;
}
.idioma ul li:last-child {
    border-right: 0px;
}
.idioma ul {
    display: flex;
    list-style: none !important;
    justify-content: center;
    padding:0;
    margin-bottom: 0 !important;
}
input::placeholder, textarea::placeholder {
    font-size: 14px;
}
.active {
    color:#94BB20;
}
#menu{
    background-color:#ffff;
    box-shadow: 0px 1px 18px -6px rgb(0 0 0 / 30%);
    z-index: 2;
    padding: 10px 0;
    font-family: 'Montserrat';
}
.menu-container {
    position: sticky;
    top: 0
}
.menuContainer-container {
    display: flex;
    justify-content: center;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menuContainer ul {
    position: relative;
}
.row-menu-mobile {
    display: flex;
    align-items: center;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }
.logo-mobile {
    height: 40px;
} 
.logo-mobile img {
    height: 40px;
} 
.menu a {
    padding: 0 10px;
}  
.menu a, .menuSecondary p{
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #212529;
    text-decoration: none;
}
.menu a:hover, .menuSecondary p:hover {
    color: #94BB20;
    font-weight: 700;
}
.dropdownmenu img {
    height: 40px;
    padding-right: 10px;
}
.dropdownmenu ul, .dropdownmenu li {
    margin: 0;
    padding: 0;
}
.dropdownmenu ul {
    list-style: none;
    width: 100%;
    display: flex;
    list-style: none;
    padding:0;
    margin-bottom: 0 !important;
}
.dropdownmenu li {
    float: left;
    position: relative;
    width:auto;
    display: flex;
    align-items: center;
  }
.dropdownmenu a {
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    background: #FFFFFF;
    color: #2e2e2e;
    display: block;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.dropdownmenu a i {
    color: #2e2e2ec0;
    margin-left: 5px;
    font-size: 12px;
}
.dropdownmenu ul li ul a {
    text-align: left;
}
.dropdownmenu li:hover a {
    color: #94BB20;
}
#submenu li a:hover {
    color: white;
    background-color: #94BB20;
}
#submenu li:hover {
    background-color: #94BB20;
}
#submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
}
li:hover ul#submenu {
    opacity: 1;
    top: 40px;
    visibility: visible;
    display: flex;
    flex-direction: column;
    background-color: white;
}
#submenu li {
    float: none;
    width: 100%;
}
#submenu li a {
    color:#2e2e2e;
}
.menuSecondary {
    display: flex;
    align-items: center;
}
.menuSecondary a {
    text-decoration: none;
}
.menuSecondary a img:hover {
    opacity: 1;
}
.menuSecondary div:first-of-type{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
}
.menuSecondary p{
    margin:0;
}
.menuSecondary img{
    width: 20px;
    height: 20px;
    opacity: 0.4;
}
.burger-menu-container {
    display: flex;
    cursor: pointer;
    position: relative;
}
.menu-global {
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    border-top: 4px solid #94BB20;
    width: 100%;
    transition: 0.55s;
  }
  .menu-top {
    top: 0;
  }
  .menu-middle {
    top: 10px;
  }
  .menu-bottom {
    top: 20px;
  }
  .menu-top-click {
    backface-visibility: hidden;
    top: 15px;
    transform: rotate(50deg);
    transition: 0.55s 0.5s;
  }
  .menu-middle-click {
    opacity: 0;
  }
  .menu-bottom-click {
    backface-visibility: hidden;
    top: 15px;
    transform: rotate(-410deg);
    transition: 0.55s 0.5s;
  }


/*CAROUSEL*/
.carousel-container {
    overflow: hidden;
    height: 400px;
    margin: 0 !important;
}
.carousel {
    height: 530px;
    z-index: 0;
    display: flex;
    position: relative;
}
.carousel-info-container{
    background-color: #94BB20;
    height: 100%;
    padding: 45px;
}
.carousel-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 10px 75px;*/
}
.carousel-info h1 {
    color: #212529;
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    text-align: center;
    margin-bottom: 20px;
}
.objective-item h1{
    color: white;
}
.carousel-info p{
    font-size: 14px;
    font-weight: 500;
}
.carousel-info h2 {
    color: white;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 800;
}
.five-objectives {
    display: flex;
    justify-content: space-between;
}
.objective-item {
    text-align: center;
}
.objective-item h1{
        margin-bottom: 5px;
}
.objective-item p{
    font-size: 12px;
}
.objective-item p span{
    font-weight: 700;
}





.intro-title {
    background-image: url('img/k-verde-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    min-height: 350px;
    display: flex;
    align-items: center;
}
.intro-desktop, .intro-mobile {
    display: flex;
    flex-direction: column;
}
.intro-desktop p, .intro-mobile p{
    text-align: center;
    margin-top: 20px;
}
.intro-title span{
    font-weight: 700;
}
.intro-mobile{
    align-items: center;
}
.intro-mobile img{
    width: 200px;
}


.intro-objectives {
    background-color: #212529;
    height: auto;
    font-family: 'Montserrat';
    color: white;
    padding: 80px 0;
}
.intro-objectives h1 {
    color:#94BB20;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
}
.intro-objectives-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.intro-objectives-detail h1 {
    font-size: 18px;
    font-weight: 700;
    color: #94BB20;
}
.intro-objectives-detail p{
    font-size: 15px;
}
.intro-objectives-detail p span {
    color:#94BB20;
    font-weight: 700;
}
.intro-objectives-detail img {
    height: 63px;
    margin-bottom: 12px;
}

/*EL PROYECTO*/
.project {
    padding: 70px 0;
}
.page-title h1{
    font-size: 32px;
    font-weight: 800;
    color: #94BB20;
}
.underline {
    width: 70px;
    border-top: 10px solid #94BB20;
}
.page-title-white h1{
    font-size: 32px;
    font-weight: 800;
    color:white;
}
.underline-white {
    width: 70px;
    border-top: 10px solid white;
}
.underline-green {
    width: 40px;
    border-top: 6px solid #94BB20;
}

#orange{
    color: #C75416;
}
#purple{
    color:#7F61B1;
}
#blue{
    color:#139FDA;
}
#green{
    color:#94BB20;
}

/*ACTUALIDAD&AGENDA*/
.news-home {
    padding: 70px 0;
    color: #2e2e2e;
}
.news-home a {
    color: #212529;
    text-decoration: none;
}
.news-home a:hover {
    color: #212529;
}
.news-home_container {
    margin-top: 60px;
}
.news-home_container h1{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 50px;
}
.news-home-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.news-container {
    display: flex;
    flex-flow: row wrap;
}
.new-item {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 25%;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    color: #212529;
    text-decoration: none;
}
.new-item:hover{
    color: #212529;
}
.new-item:hover .new-card-img img {
    transform:scale(1.05);
}
.new-card {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 0 !important;
    box-shadow: 2px 4px 4px 0px #00000036;
    margin-bottom: 30px;
}
.new-card-img-container {
    position: relative;
    height: 135px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.new-card-img {
    height: 100%;
    position: absolute;
    top: 0;
}
.new-card-img img {
    width: 100%;
    transition: transform 1s ease-in-out;
}
.new-card-text {
    padding: 10px 20px;
    overflow: hidden;
    height: 285px;
}
.new-card span, .new-card p{
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}
.new-card h2{
    font-size: 15px;
    line-height: 18px;
    font-weight: 800;
}
.new-card-bottom {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(0,0,0,.08);
    padding: 10px;
    font-size: 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: color 0.5s;
    transition: background-color 0.5s;
}
.new-card-bottom p{
    margin-bottom: 0;
}
.new-card:hover .new-card-bottom{
    background-color: #94BB20;
}
.new-card:hover .new-card-bottom p{
    color: white;
    font-weight: 700;
}

.go-to-button_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.go-to-button {
    background-color: #212529;
    color: white;
    text-align: center;
    border-radius: 40px;
    width: 180px;
    font-weight: 700;
    font-size: 15px;
    padding: 12px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.5s;
}
.go-to-button a{
    color: white;
    text-decoration: none;
}
.go-to-button:hover {
    background-color: #94BB20;
}
.go-to-button:hover a{
    color: white;
}
.diary-container {
    margin-bottom: 50px;
}
.diary-item {
    cursor: pointer;
}
.diary-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
 
.diary-card h2{
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
}
.diary-card p{
    font-size: 15px;
    line-height: 18px;
}
.diary-card-right {
    width: 55%;
}
.diary-card-left {
    width: 40%;
}
.diary-date{
    position: absolute;
    top: 0;
    color: white;
    font-weight: 800;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.diary-date :first-child{
    font-size: 22px;
    transition: all 0.5s;
}
.diary-date :last-child{
    font-size: 18px;
    margin-bottom: 0;
    transition: all 0.5s ease-in-out;
}
.diary-card-img {
    background-color: #94BB20;
    border-radius: 10px;
    position: relative;

}
.diary-card-img img{
    width: 100%;
    overflow: hidden;
    opacity: 0.3;
    border-radius: 10px;
}
.diary-card-right div{
    display: flex;
    flex-direction: column;
}
.diary-card-right i{
    font-size: 25px;
    color: #94BB20;
}
.diary-card-right p{
    margin-bottom: 5px;

}




/*NEWSLETTER&CONTACT*/
.contact-newsletter {
    padding: 70px 0;
}
.contact-newsletter-container {
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
}
.contact-newsletter-container a{
    text-decoration: none;
}
.contact-newsletter-card h1{
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 0;
}
#logo-alpha{
    display:inline-block;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    transition: transform 1s;
    border-bottom: 4px solid white;
}
.contact-newsletter-card:hover {
    cursor: pointer;
    background-color: #94BB20;
}
.contact-newsletter-card {
    background-color: #212529;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40% !important;
    border-radius: 20px;
    transition:background-color 0.5s;
}
.contact-newsletter-card:hover #logo-alpha{
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

/*FOOTER*/
.footer {
    font-family: 'Montserrat';
    padding: 70px 0 10px 0;
    background-color: #212529;
    background-image: url('img/k-blanca-01-01.png'), linear-gradient( to right,#94BB20 -20%, #4f4f50 100%);
    background-repeat: no-repeat;
    background-position: right;
}
.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
.footer-content a{
    text-decoration: none;
    color:white;
    margin-right: 5px;
}
.footer-content h1 {
    font-size: 15px;
    font-weight: 800;
}
.footer-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}
.footer-contact img{
    width: 30%;
}
.footer-contact_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-contact_contact img{
    width: 25px;
}
.footer-rrs img{
    width: 25px;
}
.footer-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    margin-top: 15px;
}
.footer-info p{ 
    margin-bottom: 3px;
}
.footer ul li{
    border-right: 1px #fff solid;
    font-size: 12px;
    padding:0 10px;
    text-align: center;
}
.footer ul li:last-child {
    border-right: 0px;
}
.none {
    display: none !important;
}
.footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding:0;
    margin-bottom: 0 !important;
}
.dropdownmenu-mobile {
    display: none;
}
.dropdownmenu-mobile a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.dropdownmenu-mobile a:hover {
    color: white;
}
.k {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.k img{
    height: 40px;
}
.mobile-rss {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.mobile-rss img{
    height: 25px;
    padding: 0 10px;
}
.menu-mobile-visible {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px !important;
    transition: 0.5s;
    width: 100%;
}
.accordion-button {
    color: white !important;
    font-weight: 700;
    outline: none !important;
    border: none !important;
    padding: 8px 15px !important;
}
.accordion-body {
    padding: 0 10px !important;
}
.accordion-button:not(.collapsed) {
    background-color: transparent !important;
}

.accordion-button:focus{
    box-shadow: none !important;
}
.accordion-button::after {
    background-image: none !important;
}
.accordion-button i{
    margin-left: 5px;
}
.menu-mobile-visible ul {
    list-style:none;
}
.dropdownmenu-mobile ul {
    width: 100%;
}
.opened {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: #212529;
}

.mystyle {
    max-width: 100% !important;
    height: 100vh !important;
    padding: 25px;
    position: fixed;
    /*background-color: #212529;*/
    background-color: #94BB20;
    color: white;
    font-size: 25px;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
  }
  .idiomas-menu-opened {
      color: #212529 !important;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      background-color: #94BB20 !important;
  }
  .hamburger--collapse.is-active .hamburger-inner::before {
    background-color: #212529 !important;
  }
  .hamburger--collapse.is-active .hamburger-inner {
    background-color: #212529 !important;
  }




@media screen and (max-width: 1399px) {
    /*.tag-k-img {
        left: 200px;
    }*/
    .new-item {
        padding-left: 12px;
        padding-right: 12px;
    }
    .carousel-info h1 {
        font-size: 25px;
    }
    .objective-item h1 {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 1200px) {
    .menuSecondary{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }
    .menuSecondary div:first-of-type {
        padding-right: 0;
    }
    .new-item {
        width: 33%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .carousel-info-container{
        padding: 30px;
    }
    .carousel-container {
        height: auto;
    }
    .carousel {
        height: 250px;
    }
}
@media screen and (max-width: 1175px) {
    .carousel-info h1 {
        font-size: 20px;
        line-height: 24px;
    }
    .carousel-info-container {
        padding: 30px 125px;
    }
    .intro-title {
        height: 40vh;
    }
}
@media screen and (max-width: 992px) {
    .new-item {
        width: 50%;
    }
    .diary-item {
        margin-bottom: 20px;
    }
    .diary-container {
        margin-bottom: 0;
    }
    .carousel-info-container {
        padding: 30px 50px;
    }

}
@media screen and (max-width: 900px) {
    .menuContainer {
        padding: 20px 30px;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        transition: 0.3s ease-in-out;
    }
    .hamburger {
        padding: 0 !important;
    }
    .dropdownmenu {
        display: none;
    }
    .menuSecondary-rss {
        display: none;
    }

    .sticky {
        position:static;
    }
    .menuSecondary div:first-of-type{
        justify-content: space-between;
        padding-right: 0;
    }
    .carousel-info h1 {
        font-size: 20px;
        line-height: 25px;
    }
    #submenu li a:hover {
        color: white;
        background-color: #94BB20;
    }
    #submenu li:hover {
        background-color: #94BB20;
    }
    #submenu {
        left: 0;
        opacity: 0;
        position: absolute;
        top: 35px;
        visibility: hidden;
        z-index: 1;
    }
  }

@media screen and (max-width: 768px) {
    .contact-newsletter-container {
        flex-direction: column;
        padding: 0 15px;
    }
    .contact-newsletter-card {
        width: 100% !important;
    }
    .contact-newsletter-container a:first-of-type {
        margin-bottom: 20px;
    }
    .menuContainer {
        justify-content: space-between;
    }
    .page-title h1 {
        font-size: 25px;
    }
    #menu {
        padding: 0;
    }
    .intro-title {
        background-image: url('img/FONDOS/blanco-home-01.png');
        background-color: #e9ecefc4;
        min-height: 250px;
        background-size: cover;
    }
    .intro-title-row {
        display: flex;
        justify-content: center;
    }

}
@media screen and (max-width: 576px) {
    .new-item {
        padding-left: 10px;
        padding-right: 10px;
    }
    .news-home {
        padding: 50px 0;
    }
    .page-title h1 {
        font-size: 20px;
    }
    .underline, .underline-white {
        width: 50px;
        border-top: 6px solid #94BB20;
    }
    .news-home_container h1 {
        font-size: 15px;
        font-weight: 800;
        margin-bottom: 25px;
    }
    .news-home_container {
        margin-top: 40px;
    }
    .carousel-info-container {
        padding: 20px 30px;
    }
    .objective-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
    }
    .objective-item p{
        margin: 0 0 0 10px;
    }
    .objective-item div:first-of-type {
        width: 45px;
    }
    .idioma ul li {
        font-size: 12px;
        padding: 0 7px;
    }
    .intro-mobile img{
        width: 140px;
    }
    .intro-mobile p{
        font-size: 14px;
        margin-bottom: 0;
    }

}
@media screen and (max-width: 530px) {
    .new-item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .contact-newsletter-container {
        padding: 0 40px;
    }
    .contact-newsletter-card {
        height: 70px;
    }
    .contact-newsletter-card h1 {
        font-size: 15px;
    }
    .diary-date :first-child {font-size: 16px;}
    .diary-date :last-child {font-size: 15px;}
    .diary-card p {
        font-size: 12px;
        line-height: 16px;
    }
    .footer {
        padding: 40px 0 10px 0;
    }
    .footer-contact {
        flex-direction: column;
        margin-left: 10%;
    }
    .footer-contact_contact {
        align-items: flex-start;
    }
    .footer-contact_contact, .footer-rrs {
        margin-bottom: 25px;
    }
    .footer-contact:last-child img {
        margin-top: 10px;
        width: 40%;
    }
}
@media screen and (max-width: 475px) {
    .carousel-info p{
        font-size: 12px;
    }
    .carousel-info h1 {
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    .new-item{
        padding-left: 20px;
        padding-right: 20px;
    }


}

