.newsletter-header {
    color: white;
    background-image: url('img/FONDOS/newsletter-fondo.png');
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position:bottom;
}
.newsletter-header h1{
    font-size: 40px;
    font-weight: 800;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.newsletter-form-container {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 0px #00000036;
    padding: 50px 40px 60px 40px;
    margin: 80px 0;
    position: relative;
    opacity: 0;
    animation:aparecer 1s 0.2s forwards;
}

.newsletter-form-container-title {
    display: flex;
    justify-content: center;
}
.newsletter-form-container h1{
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    width: 62%;
    margin-bottom: 40px;
}
.button-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.form-btn {
    text-transform: uppercase;
    text-align: center;
    font-size: 15px !important;
    font-weight: 700;
    background-color: #2e2e2e;
    border-color: none;
    color: white;
    text-decoration: none;
    border-style: none;
    padding: 6px 12px;
    width: 185px;
    border-radius: 40px;
    margin-top: 10px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.sec {
    background-color: #ffff;
    color: #2e2e2e;
    border: 2px solid #2e2e2e;
}
.form-btn:hover {
    background-color: #94BB20 !important;
    border-color: #94BB20 !important;
}
.sec:hover{
    background-color: #ffff !important;
    color: #94BB20;
    border: 2px solid #94BB20;
}
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-control {
    border-radius: 10px;
    display: block;
    width: 90%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #2e2e2e;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    margin-bottom: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.newsletter-form-container input:-internal-autofill-selected {
    background-color: #212529 !important;
}
.form-check-input {
    box-shadow: none !important;
}
.form-check label {
    font-size: 12px !important;
}
.form-check-input:checked {
    background-color: #94BB20 !important;
    border-color: #94BB20 !important;
}

@keyframes aparecer {
    0%{
        opacity: 0;
        transform: translateY(60px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 767px){
    .newsletter-header {
        height: 190px;
    }
    .newsletter-form-container{
        padding: 35px;
    }
    .newsletter-form-container h1{
        width: 80%;
    }
    .button-container {
        flex-direction: column;
    }
    .button-container{
        width: auto;
    }
}
@media screen and (max-width: 576px){
    .button-container{
        width: 90%;
    }
    .newsletter-form-container h1{
        width: 100%;
        font-size: 16px;
        margin-bottom: 12px;
    }
    .input-container p{
        font-size: 14px;
    }
    .button-container button, .form-btn{
        width: 100%;
    }
    .newsletter-header {
        height: 130px;
    }
    .newsletter-header h1 {
        font-size: 30px;
    }
    .newsletter-form-container {
        margin: 10px 0;
        box-shadow: none;
    }
}




