/*OBJETIVOS*/

.objectives {
    font-family: 'Montserrat';
    padding: 70px 0;
}
.objectives-intro {
    margin: 50px 0;
    opacity: 0;
    animation:aparecer 2s 0.5s forwards;
}

.objectives-intro h1{
    font-size: 20px;
    font-weight: 600;
}
.objectives-intro p{
    width: 80%;
}

.objective-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.objectives-cardsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;

}.objectives-cardsContainer-title {
    margin-bottom: 50px;
    opacity: 0;
    animation:aparecer 2.5s 1s forwards;
}
.objectives-cardsContainer-row {
    display: flex;
    justify-content: space-around;
    margin-top: 30px !important;
}
#card-1{
    opacity: 0;
    animation:aparecer 1s 2s forwards;
}
#card-2{
    opacity: 0;
    animation:aparecer 1s 2.5s forwards;
}
#card-3{
    opacity: 0;
    animation:aparecer 1s 3s forwards;
}#card-4{
    opacity: 0;
    animation:aparecer 1s 3.5s forwards;
}
#card-5{
    opacity: 0;
    animation:aparecer 1s 4s forwards;
}
#card-6{
    opacity: 0;
    animation:aparecer 1s 4.5s forwards;
}
.objectives-cardsContainer h1{
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    
}

.objective-card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 4px 4px 0px #00000036;
   /* box-shadow: #3e4e0d 0px 0px 14px;*/
    padding: 30px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/mockup/img/sec2-fdo.png');
    background-position: right bottom;
    background-repeat: no-repeat;
}
.objective-card h1{
    font-size: 40px;
}

.objective-card p{
    font-size: 15px;
}
.no-content {
    padding: 70px 0;
    min-height: 80vh;
}

@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .objectives-cardsContainer-row {
        margin-top: 0 !important;
    }
    .objective-card {
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 576px) {
    .objectives {
        padding: 50px 0;
    }
    .objectives-cardsContainer h1 {
        font-size: 18px;
    }
    .objective-card h1{
        font-size: 24px;
    }
    .objectives-intro h1{
        font-size: 15px;
    }
    .objectives-intro {
        margin: 20px 0;
    }
    .objective-card {
        padding: 25px;
    }
    .objectives-cardsContainer {
        margin-top: 40px;
    }
    .objectives-cardsContainer-title {
        margin-bottom: 20px;
    }
}