.project-introText {
    margin-top: 50px;
}
.project-introText p{
    font-size: 15px;
}
.project-areas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
}
.project-areas h1{
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
}
.project-areas img{
    width: 85%;
}
.project-areas p{
    margin-top: 50px;
    text-align: center;
}
.project-areas p span{
    font-size: 22px;
    font-weight: 800;
}
.project-areas_areasContainer {
    margin-top: 40px;
}
.project-areas_areasContainer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-areas h2{
    font-size: 20px;
    font-weight: 800;
}
.project-objetctives {
    margin-top: 80px;
    font-size: 15px;
}
.five-objectives{
    display: flex;
    justify-content: center;
    margin-top: 60px !important;
    margin-bottom: 50px !important;
    color: #2e2e2e;
}
.five-objectives h1{
    font-size: 48px;
    font-weight: 800;
}
.five-objectives p{
    font-size: 15px;
    text-align: center;
}
.five-objectives p span{
    font-weight: 800;
}
@media screen and (max-width: 992px) {
    .five-objectives h1 {
        font-size: 34px;
    }
}
@media screen and (max-width: 768px) {
    .project-areas_areasContainer div{
        margin-bottom: 50px;
    }
}
@media screen and (max-width:576px){
    .project {
        padding: 50px 0;
    }
    .project-areas h1, .project-areas p span {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .project-introText {
        margin-top: 20px;
    }
    .project-areas {
        margin-top: 30px;
    }

    .project-areas p {
        margin-top: 0;
        font-size: 15px;
        text-align: left;
    }
    .project-objetctives {
        margin-top: 30px;
    }
    .five-objectives {
        padding: 30px;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .five-objectives h1 {
        font-size: 18px;
    }
    .objective-item h1 {
        margin-bottom: 0px;
    }
    .objective-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .objective-item p {
        margin: 0;
    }
}
