<a href="detalle-noticia.html" class="new-item">
  <div class="new-card">
    <div class="new-card-top">
      <div class="new-card-img-container">
        <div class="new-card-img">
          <img src="img/pexels-pok-rie-6471946.jpg" />
        </div>
      </div>
    </div>
    <div class="new-card-text">
      <span>04/03/2021</span>
      <h2>
        La comisión europea pone en marcha una consulta pública para restaurar
        los ecosistemas europeos
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium vel
        quam debitis fuga, dicta esse, cupiditate mollitia similique quo laborum
        corrupti consequuntur, asperiores numquam accusantium sed doloribus
        ducimus id eius!
      </p>
    </div>
    <div class="new-card-bottom">
      <p>Ver más</p>
    </div>
  </div>
</a>
