<div class="footer">
    <div class="container">
      <div class="row footer-content">
        <div class="col-md-7 sm-12">
          <div class="footer-contact">
            <div class="footer-contact_contact">
              <h1>CONTACTO</h1>
              <a
              target="_self"
              href="/mockup/contacto.html"
            >
              <img alt="linkedin" src="img/contact-negative-01.png" />
            </a>
            </div>
            <div class="footer-rrs">
              <h1>SÍGUENOS</h1>
              <a
                target="_blank"
                href="https://www.linkedin.com/company/life-urban-klima-2050/"
              >
                <img alt="linkedin" src="img/linkedin-negative.png" />
              </a>
              <a target="_blank" href="https://twitter.com/urbanklima2050/">
                <img alt="twitter" src="img/twitter-negative-01.png" />
              </a>
              <a
                target="_blank"
                href="https://www.flickr.com/photos/lifeurbanklima2050"
              >
                <img alt="flickr" src="img/flickr-negative-01.png" />
              </a>
            </div>
            <img src="img/logo-urbanklima-small-negativo-01.png" />
            <!--<img src="img/logo-urbanklima-small-01.png"/>-->
          </div>
          <ul>
            <li>Propiedad intelectual</li>
            <li>Política de privacidad</li>
            <li>Política de cookies</li>
          </ul>
          <div class="footer-info">
            <p>
              El proyecto Urban Klima 2050 - LIFE 18 IPC 000001 ha recibido
              financiación del programa LIFE de la Unión Europea.
            </p>
            <p>Urban Klima 2021 ®</p>
          </div>
        </div>
      </div>
    </div>
  </div>